@charset "utf-8";
#header {
    padding: 20px;
}
#header nav h1 {
    font-size: 1rem;
    font-weight: 700;
    /* 플롯 */
    float: left;
}
#header nav li {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -1px;
    /* 플롯 */
    float: right;
}

#total_content {
    margin-top: 80px;
    padding-left: 20px;
}
.total .name {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: -1px;
}
.total .company {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 18px;
    letter-spacing: -1px;
}
.total .url {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: -1px;
}

#info_content {
    padding-left: 20px;
}
.info p:first-child {
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 12px;
}
.info p:last-child {
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.info span {
    /* color: silver; */
    font-weight: 500;
}

#sns_content {
    padding: 0 20px;
    margin-bottom: 44px;
}
.sns a {
    font-size: 1.625rem;
    margin-right: 10px;
}

#skill_content {
    padding: 0 20px;
    margin-bottom: 60px;
}
.skill p {
    font-size: 0.85rem;
    color: #999;
    line-height: 1.2;
}
.skill p:first-child {
    margin-bottom: 24px;
}
.skill span {
    color: #222;
}

#footer {
    text-align: center;
    padding-bottom: 20px;
    /* 포지션 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 1;
}
footer p {
    font-size: 9px;
    font-size: 0.5625rem;
    color: #333;
}

/* 키비쥬얼 */
#visual_content {}
.visual {
    /* 포지션 */
    position: fixed;
    right: -45%;
    bottom: 0;
    z-index: -10;
}
.visual img {
    width: 70%;
}
