@charset "utf-8";

/* main */
#contents {
    padding-top: 64px;
}
main .tv_title {
    margin: 30px 0 12px 16px;
    /* (16/360)*100 = 4.444444444444445 */
    margin: 30px 0 12px 4.444444444444445vw;
    padding-left: 16px;
    /* (16/360)*100 = 4.444444444444445 */
    padding-left: 4.4444vw;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.15em;
    border-left: 1px solid #ffcc00;
}
.swiper-container .slide01 {
    background: url(../images/national_img/tv_poster09.png) no-repeat center;
    background-size: 100% 100%;
}
.swiper-container .slide02 {
    background: url(../images/national_img/tv_poster02.png) no-repeat center;
    background-size: 100% 100%;
}
.swiper-container .slide03 {
    background: url(../images/national_img/tv_poster03.png) no-repeat center;
    background-size: 100% 100%;
}
.swiper-container .slide04 {
    background: url(../images/national_img/tv_poster04.png) no-repeat center;
    background-size: 100% 100%;
}
.swiper-container .slide05 {
    background: url(../images/national_img/tv_poster05.png) no-repeat center;
    background-size: 100% 100%;
}
.swiper-container .slide06 {
    background: url(../images/national_img/tv_poster06.png) no-repeat center;
    background-size: 100% 100%;
}
.swiper-container .slide07 {
    background: url(../images/national_img/tv_poster07.png) no-repeat center;
    background-size: 100% 100%;
}
.swiper-container .slide08 {
    background: url(../images/national_img/tv_poster08.png) no-repeat center;
    background-size: 100% 100%;
}
.swiper-container .swiper-slide button {
    margin-top: 320px;
    padding: 12px 24px;
    /* (24/360)*100 = 6.666666666666667 */
    padding: 12px 6.666666666666667vw;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    filter: brightness(90%);
    font-family: 'Homizio Regular';
    background-color: #ffcc00;
    color: #151515;
}
.swiper-container .swiper-slide button i {
    font-size: 18px;
    margin-left: 12px;
    /* (12/360)*100 = 3.3333333333333335 */
    margin-left: 3.3333vw;
    vertical-align: middle;
}