@charset "utf-8";
#nat_slide {
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    font-family: 'Noto Sans KR', sans-serif;
}

/* A. 스와이퍼 최상위 구조 클래스 */
.swiper-container {
    padding: 36px 46px 80px;
}

/* C-1. 스와이퍼 될 Slider 각각 내용들 */
.swiper-slide {
    width: 292px;
    height: 425px;
}
.swiper-slide {
    /* 플렉스 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
/* 각 슬라이드 페이지 */
/* .slide {
    background-image: url(../images/bg_6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
} */
